<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>This is the about me section</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="">
  </head>

  <body>
    <h1>A little information about me:</h1>
    <script src="" type="text/javascript" async defer></script>
  </body>
</html>